:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --active-color: #2196F3;
    --white-color: #ffffff;
    --bg-dark: #2F303A;
    --link-color-rgba: rgba(255, 255, 255, 0.6);
    --bg-light: #f5f4fa;
    --black-color: #000000;
    --bored-color: #eeeeee;
    --hover-background-color: #188ce8;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--white-color);
}

a{
    text-decoration: none;
}

.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: var(--active-color);
text-decoration: none;
}

.logo-accent{
   color: var(--black-color);
}

.logo-accent2{
    color: var(--white-color);
}

.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    

color: var(--main-color);
}

.link:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: var(--active-color);
}

.current{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--active-color);

}

.hero-overlay{
    background: var(--bg-dark);
}

.button{
    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 30px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
background-color: var(--active-color);
cursor: pointer;
}

.button:hover, .button:focus{
    background-color: var(--hover-background-color);
    outline: none;
}


.btn-p{
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 26px;

text-align: center;
letter-spacing: 0.03em;
border: none;
background: var(--bg-light);
border-radius: 4px;

color: var(--main-color);

cursor: pointer;
}

.btn-p:hover, .btn-p:focus{
    color: var(--white-color);
    background-color: var(--active-color);
    outline: none;
    box-shadow: var(--button-shadow);

}

.title{
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--main-color);

text-decoration: none;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--white-color);

}

.our-skills{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);
}

.skills{
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: var(--secondary-color);
}

.doing{
font-weight: 700;
font-size: 36px;
line-height: 42px;

letter-spacing: 0.03em;

color: var(--main-color);
}

.our-command{
font-weight: 700;
font-size: 36px;
line-height: 42px;

letter-spacing: 0.03em;

color: var(--main-color);
}

.name{
font-weight: 500;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: var(--main-color);

}

.position{
font-weight: 400;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: var(--secondary-color);

}

.item{
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--secondary-color);

text-decoration: none;
}

.address-item{

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: var(--secondary-color);

text-decoration: none;
}

.address-item:hover , .address-item:focus{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--active-color);

}

.footer{
    background: var(--bg-dark);
}
.footer-adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  
    letter-spacing: 0.03em;

color: var(--white-color);

text-decoration: none;
}

.footer-adress:hover , .footer-adress:focus{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: var(--active-color);

}

.link-contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  
    
    letter-spacing: 0.03em;
    
    color: var(--link-color-rgba);
    text-decoration: none;
}

.link-contact:hover , .link-contact:focus{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: var(--active-color);

}

.partfolio-item{ 
background: var(--white-color);
border: 1px solid var(--bored-color);
}

.card{
    background: var(--white-color);
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}